<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DS3.SaveBackup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DS3.SaveBackup.Properties.Settings>
            <setting name="SaveFileSource" serializeAs="String">
                <value>%appdata%\DarkSoulsIII</value>
            </setting>
            <setting name="SaveFileDestination" serializeAs="String">
                <value>%appdata%\DarkSoulsIII\SaveBackup</value>
            </setting>
            <setting name="SaveFileTimeFrequency" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ProcessToCheck" serializeAs="String">
                <value>DarkSouls</value>
            </setting>
        </DS3.SaveBackup.Properties.Settings>
    </userSettings>
</configuration>